.firstone {
    width: 400px;
    height: 129px;
    background: red;
    position: relative;
    left: 500px;
    bottom: 287px;
}
.secondone {
    width: 250px;
    height: 30px;
    background: red;
    position: relative;
    bottom: 255px;
    left: 580px;
}
iframe{
background: yellow;
position: relative;
left: 400px;
}
