html, body {
    padding: 0;
    border: 0;
    margin: 0;
    display: block;
    width: 99%;
    height: 99%;
    
}

body {
    margin: 5px 5px 5px 5px;
    max-width: 1450px;
    min-width: 900px;
    max-height: 900px;
    min-height: 600px;
}
header {
    background: #CCCCCC;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 0 20px 0 20px;
    position: relative;
    width: 98%;
    padding: 0 0 0 0;
    
}
li {
    font-family: sans-serif;
}
li:nth-child(1) {
    margin: 0 0 0 0;
}

li, a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    margin: 5px 0 5px 10px;
    position: relative;
    text-align: center;
    
}
a {
    font-weight: bold;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
}
a:visited {
    color: blue;
}
a:hover {
    color: red;

}

aside {
    float: right;
    border: 3px dashed black;
    width: 20%;
    height: 82%;
    margin: 5px 10px 0 0;
    position: relative;
    bottom: 40px;
    padding: 0 0 0 0;
    
}
p {
    margin: 20px 20px 20px 20px;
}
.dyk{
    float: right;
    position: relative;
    font-weight: 900;
    font-size: 18px;
    margin: 0 4.5em 5px 0;
}