
body {
    width: auto;
    height: auto;
}

.main {
    border: 1px solid red;
    display: block;
    position: relative;
    top: 10em;
}
.chess {
    width: 0px;
    height: 25px;
    border: 1px solid red;
    display: block;
    position: relative;
    top: 9.5em;
    left: 3.5em;
}
img {
    width: 200px;
    display: block;
    position: relative;
    top: 400px;
    left: 40em;
}
.twoktw {
    position: relative;
    left: 52.6%;
    top: 90px;
    width: 8%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
h1 {
    position: relative;
    display: block;
    top: 40%;
    
}